/* jupyter sphinx related style */
div.jupyter_container {
    background-color: var(--color-background-primary);
    border-color: transparent;
}
.jupyter_container div.code_cell {
    background-color: var(--color-background-primary);
    border-color: transparent;
    border-left-color: green;
    border-left-width: medium;
}
.jupyter_container div.code_cell pre {
    background-color: var(--color-background-primary);
}
div.jupyter_container div.highlight {
    background-color: var(--color-background-primary);
}
.jupyter_container .stderr {
    background-color: var(--color-background-primary);
}
.jupyter_container div.output pre {
    background-color: var(--color-background-primary);
    border-color: transparent;
}
.jupyter_container .code_cell td.linenos {
    border-color: transparent;
}
.jupyter_container .output .highlight {
    background-color: var(--color-background-primary);
    border-color: transparent;
}

.jupyter_container .cell_output .output.text_plain,
.jupyter_container .cell_output .output.stream,
.jupyter_container .cell_output .output.stderr {
  border: transparent;
}

div.cell_output .output.text_plain,
div.cell_output .output.stream,
div.cell_output .output.stderr {
  border: transparent;
}

div.cell_output .output.text_plain,
div.cell_output .output.traceback,
div.cell_output .output.stream,
div.cell_output .output.stderr {
  background: transparent;
}

/* xarray related style */
.jupyter_container .xr-var-attrs,
.jupyter_container .xr-var-data {
  background-color: transparent !important;
}

.jupyter_container .xr-var-item > div,
.jupyter_container .xr-var-item label,
.jupyter_container .xr-var-item > .xr-var-name span {
  background-color: transparent;
}

.jupyter_container .xr-var-list > li:nth-child(odd) > div,
.jupyter_container .xr-var-list > li:nth-child(odd) > label,
.jupyter_container .xr-var-list > li:nth-child(odd) > .xr-var-name span {
  background-color: transparent;
}
